*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background-color: #2F9FBB;
    font-family: 'Ubuntu', sans-serif;
}

header{
    font-family: 'Ubuntu Condensed', sans-serif;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.container{
    color: white;
    text-align: center;
    padding-top: 300px;
}
.logo{
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
    
}

a{
    text-decoration: none;
    color: #2193B0;
}
li{
    font-size: large;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 20px;
    position: relative;
}

/*ul ul li{
    width:auto;
    background-color: white;
    position:relative;
    margin-top: 0;
    left: -10px;
    opacity: 0;
    padding: 2px;

}

ul ul{
    display: block;
    position: absolute;
    width: 150px;
    height: 250px;
    
}

ul ul li:hover {
    opacity: 1;
    display:block;
    opacity: 1;
    height: 150px;
    position: relative;
    
}
*/

.second{
    opacity: 0;
    position: absolute;
    margin-top:0;
    left: -10px;
    z-index: 1;
    visibility: visible;
}

.first:hover .second{
    opacity: 1;
    width: 100px;
    height: 200px;
    padding: 8px;
    background-color: blueviolet;
    transition: .3s all ease-in;
    z-index: 2;
    visibility: visible;
    
    animation-iteration-count: 1;
}

